<app-tripboard
  (openTripPlanner)="openTripPlanner($event)"
  (openEventUpsert)="openEventUpsert($event)"
  (openUpdateLocation)="openUpdateLocation($event)"
  (openEquipmentFreight)="openEquipmentFreight($event)"
  (openApplySeal)="openApplySeal($event)"
  (openCloseTrip)="openCloseTrip($event)"
  (openEquipmentInfo)="openEquipmentInfo($event)"
  (openTripProperties)="openTripProperties($event)"
  (openRemoveEvent)="openRemoveEvent($event)"
  (openResourceboard)="openResourceboard($event)"
  (openBackhaulRequest)="openBackhaulRequest($event)"
  (openDriverAvailability)="openDriverAvailability($event)"
>
</app-tripboard>
